<%- model_class = Bar -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:location_name) %></th>
      <th><%= model_class.human_attribute_name(:location_latitude) %></th>
      <th><%= model_class.human_attribute_name(:location_longitude) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bars.each do |bar| %>
      <tr>
        <td><%= link_to bar.id, bar_path(bar) %></td>
        <td><%= bar.name %></td>
        <td><%= bar.description %></td>
        <td><%= bar.location_name %></td>
        <td><%= bar.location_latitude %></td>
        <td><%= bar.location_longitude %></td>
        <td><%= bar.url %></td>
        <td><%=l bar.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bar_path(bar), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bar_path(bar),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bar_path,
            :class => 'btn btn-primary' %>
